[Oregon Curriculum Network](http://4dsolutions.net/ocn/)

[Home](School_of_Tomorrow.ipynb)

# Data Visualization (Part Two)

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/kirbyurner/26084029938/in/album-72157693427665102/" title="P1040200"><img src="https://live.staticflickr.com/4763/26084029938_70b453b3c2.jpg" width="500" height="333" alt="P1040200"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<div style="text-align: center">
Political Data Layer (PDL)
</div>

## Snap Shots in Time

You might think of a photograph as a slice of time, like a slice of bread with some jam on it, where the jam is "whatever is happening" and where the slice has some thickness.  It takes time for photons to register on a chemical film, or on photosensitive resistors.  However a trend in photography has been to heighten the sensistivity of the recording material and to speed up the frame rate, meaning each individual slice of "bread" (time) is becoming less thick.  Slow motion movies take advantage of this fact.

Speaking of movies, as soon as you put the time slices back together, you start to see rates of change.  In delta calculus, invented by Newton, Leibniz and other greats, we look for minimum changes (differentiation) however, then we add up those changes (integration) to get more summary results.  Even short movies, in placing one time slice after another in quick progression, say 30 frames per second (fps), may tell us a lot more about what we're looking at.

## Time Series Data

The time series in question might be "one snap shot a day" or "one per second" or "one per 1/100th of a second".  Or a time series might feature snap shots taken once a year, as when chronicling the slow advance or retreat of a glacier. 

However, given the wide range of instrumentation out there, you may not be getting literal photographs.  Most measurements, including images, have a numeric format and when it comes to noticing or registering differences, we may use numeric techniques rather than our own eyes and brains, to judge what a movie is showing.

More likely yet, we use a combination of visualizations, intuitions, and numerical computations, in various feedback loops, to help build comprehension through apprehension (see Synergetics for more contextualizing passages).

A lot of time series data is financial in nature.  Analysts look for patterns and seek to anticipate trends.

Jake VanderPlas is [one of the top authorities](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html) on using ```pandas``` to do data science.  The link is to his copyleft book.

In [1]:
import json

with open("glossary2.txt", 'r') as the_file:
    glossary = json.load(the_file)
    
glossary['pandas']

'wraps numpy arrays in handsome frames with row and column indexes'

## Globes and Maps as Data Vizualization Tools

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/kirbyurner/28494828118/in/album-72157693427665102/" title="DGGS / Global Matrix"><img src="https://live.staticflickr.com/1741/28494828118_573fc6c57b_n.jpg" width="320" height="180" alt="DGGS / Global Matrix"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<div style="text-align: center">
Data Visualization Tool
</div>

You likely agree that maps and globes are informative.  Many of us use maps and globes daily, especially maps, because we are trying to find routes to follow, to specific places we search for.  Places get stored with sufficient data, by means of latitude and longitude especially, to have them show up on maps and globes relative to other places.

Sometimes our globes and maps have little to do with Spaceship Earth in that we're in a gaming or simulation environment and working with randomly generated planets on which phenomena evolve over time.  Sometimes we're working with other existing astronomical bodies, such as the Moon or Mars.  We have detailed maps for these spherical bodies, mostly thanks to "spy satellite" technology that was originally developed for self (Earth) observation.

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/kirbyurner/2908472176/in/album-72157607673506906/" title="Tailgate Tableau"><img src="https://live.staticflickr.com/3110/2908472176_3ca704ca1d_n.jpg" width="320" height="240" alt="Tailgate Tableau"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<div style="text-align: center">
Razz the Subaru with Map and Dog Food<br />
OCN HQS
</div>


### Empircal versus Non-empirical Simulations

Lets also remember that simulations and models kick in (become relevant) as soon as we move towards anticipating future developments, or filling in gaps for which we have only a little data.  

The latter process (filling in gaps) is sometimes referred to as "interpolation", wherein we're "filling holes" based on what we know of some surroundings.  All of this kind of thinking is guesswork in some ways, provided we think new data might arise that could confirm or cast doubt on our guesses and models.  

Studies subject to correction or confirmation or disconfirmation are considered "empirical" meaning continuing to gather data make sense.  A science fiction computer game that takes a planet into a simulated future may be non-empirical because it's a made-up reality.  

"What really happens" is not an issue when "reality" is not in a position to correct us. On the other hand, inside the novel or story, the fictional characters (such as they exist) may have their simulated empirical concerns.

### Philosophical Caveats

Lets investigate some philosophical concerns relating to whether a given study is empirical or not.  People come to reality with very different beliefs and assumptions relative to others.  We do not always see agreement on the core terms of a debate and so what counts as evidence for or against a particular model may itself be in dispute.

## Importing Data

### Case Study:  Periodic Table to DataFrame (over the web)

In the previous notebook, we looked at JSON is a viable format for both storing and streaming global data on a global basis, meaning to and from any IP:port address.  Internet Protocol (IP) is not the only protocol available for transmitting signals, so we should keep in mind that JSON, as a protocol, is higher up in the "transport layer" than the lower level TCP/IP that we find in today's internet.

In [2]:
% matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests  # a new tool, for communicating using the HTTP protocol
import json

The Oregon Curriculum Network is currently sponsoring [a simple Flask website](http://thekirbster.pythonanywhere.com/), hosted by PythonAnywhere.com, that features all the source code and data on Github, meaning you're free to clone this website and operate it locally, on localhost.

In [3]:
http_request  = "http://thekirbster.pythonanywhere.com/api/elements?elem=all"
http_response = requests.get(http_request)
http_response.status_code # if not 200, the request failed

200

In [4]:
periodic_table = http_response.json()
periodic_table['H']

[1, 'H', 'Hydrogen', 1.008, 'diatomic nonmetal', 1498013115, 'KTU']

In [5]:
symbols = np.array(list(periodic_table.keys()))

In [6]:
symbols[:10]

array(['Am', 'P', 'Sr', 'Ts', 'Cl', 'Lv', 'Og', 'Ds', 'Nd', 'Os'],
      dtype='<U2')

In [7]:
values = np.array(list(periodic_table.values()))

In [8]:
values[0]

array(['95', 'Am', 'Americium', '243.0', 'actinide', '1493462392', 'KTU'],
      dtype='<U39')

Notice even the numeric values are quoted here, meaning they'll be treated as Unicode objects when it comes time to sort.  Our wish is to have appropriate number types in these columns.  The appropriate time to perform the conversion is when we have access to the ```.astype``` method of the pandas ```Series```, as these comprise the columns of the various sorted pandas ```DataFrame``` objects we aim to produce.

In [9]:
values[:10, 1]

array(['Am', 'P', 'Sr', 'Ts', 'Cl', 'Lv', 'Og', 'Ds', 'Nd', 'Os'],
      dtype='<U39')

In [10]:
values.shape

(118, 7)

At this juncture, with values a two-dimensional numpy array, each row of seven columns, we might as well apply the ndarray's native ```astype``` method, used to produce a new array with the internals converted.  In this case, the fact that atomic number and atomic mass were quoted, came across as strings, is an issue.

We should study how that happened.  Was [the source website](http://thekirbster.pythonanywhere.com/api/elements?elem=Cs) somehow the culprit?  No, that looks good.  Actually ```periodic_table['H']```, direct from the HTTP response object (with JSON payload) looked fine...

In [11]:
periodic_table['Cs']

[55, 'Cs', 'Cesium', 132.905451966, 'alkali metal', 1493462392, 'KTU']

The issue was turning these lists, of numbers and strings mixed together, into ndarrays of these same elements. An ndarray needs all its elements to be of the same type.  Numbers get coerced into strings at this point.

No matter, as we have the ability to slice and coerce back, in the process of creating and concatenating the three ```Series``` objects, plus an index.  That's what we undertake to accomplish below, with one of the several ways to construct a DataFrame.

In this case, the leftmost argument is a dictionary, with keys being column names, and values being single columns from the ```values``` matrix.

Notice the handsome frame.  The ```.head``` method defaults to displaying the top five rows.  You're free to pass an integer argument to see more.  Do you think ```.tail``` works.  How about ```.head``` with negative numbers?

In [12]:
p_table = pd.DataFrame({"Name":   values[:, 2], 
                        "Number": values[:, 0].astype(np.int8), 
                        "Mass":   values[:, 3].astype(np.float64)},
                        index = symbols)
p_table.index.name = "Symbol"
p_table.head()

              Name  Number        Mass
Symbol
Am       Americium      95  243.000000
P       Phosphorus      15   30.973762
Sr       Strontium      38   87.621000
Ts      Tennessine     117  294.000000
Cl        Chlorine      17   35.450000

In [13]:
p_table.tail()

            Name  Number       Mass
Symbol
N       Nitrogen       7   14.00700
V       Vanadium      23   50.94151
Nh      Nihonium     113  286.00000
Ba        Barium      56  137.32770
Fm       Fermium     100  257.00000

In [14]:
p_table.head(-100)

                Name  Number        Mass
Symbol
Am         Americium      95  243.000000
P         Phosphorus      15   30.973762
Sr         Strontium      38   87.621000
Ts        Tennessine     117  294.000000
Cl          Chlorine      17   35.450000
Lv       Livermorium     116  293.000000
Og         Oganesson     118  294.000000
Ds      Darmstadtium     110  281.000000
Nd         Neodymium      60  144.242300
Os            Osmium      76  190.233000
Nb           Niobium      41   92.906372
Es       Einsteinium      99  252.000000
Rn             Radon      86  222.000000
Bh           Bohrium     107  270.000000
B              Boron       5   10.810000
Pr      Praseodymium      59  140.907662
Po          Polonium      84  209.000000
Rg       Roentgenium     111  282.000000

In [15]:
p_table.dtypes  # mission accomplished, reconversion has occurred

Name       object
Number       int8
Mass      float64
dtype: object

Check out the pandas API documentation for [how to sort by an index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html).

In [16]:
p_table_by_symbol = p_table.sort_index(axis=0, ascending=True, inplace=False)
p_table_by_symbol.head()

             Name  Number        Mass
Symbol
Ac       Actinium      89  227.000000
Ag         Silver      47  107.868220
Al      Aluminium      13   26.981539
Am      Americium      95  243.000000
Ar          Argon      18   39.948100

Next lets sort the original ```p_table``` DataFrame object by Number instead of by Symbol.

You might want to [check the API docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) again, as the arguments are a little bit different.

In [17]:
# inplace = False is the default, but it doesn't hurt to be explicit
p_table_by_number = p_table.sort_values(["Number"], ascending=True, inplace=False) 
p_table_by_number.head()

             Name  Number       Mass
Symbol
H        Hydrogen       1   1.008000
He         Helium       2   4.002602
Li        Lithium       3   6.940000
Be      Beryllium       4   9.012183
B           Boron       5  10.810000

Notice that you don't need to import Python itself.  That's because Python is the Kernel behind the scenes running all these code cells.  One specifies the Kernel upon starting a new Jupyter Notebook.

In [18]:
import json
with open("glossary2.txt", 'r') as infile:
    glossary = json.load(infile)

In [19]:
def make_table():
    """
    Build a pandas DataFrame from the glossary dict (global)
    The terms being defined form the index and are sorted case-insensitively
    """
    terms = pd.Series(np.array(list(glossary.keys())))
    definitions = pd.Series(np.array(list(glossary.values()), dtype=object))
    
    df = pd.DataFrame({"term":terms, "definition":definitions}).set_index('term')
    
    # create and delete a sorting column, wherein the terms are all uppercase
    df["sort_column"] = df.index.str.upper()
    df.sort_values(['sort_column'], axis=0, ascending=True, inplace=True)
    del df["sort_column"]  # now that the df is sorted, delete the sorting column
    
    return df

The Python function above has the job of taking our ```glossary``` object, a Python dictionary, and turning it into a pandas DataFrame object.  The dict's keys should comprise our index of terms and be sorted in a case-insensitive manner.

In [20]:
# glossary is an ordinary Python dict, stored as JSON in a text file
glossary["TCP/IP"] =  "at the basis of the ARPAnet, funded by DARPA, and later the generic internet"
glossary["delta calculus"] = "differential and integral calculus, popularized by Newton and Leibniz"
glossary["lambda calculus"] = "a logic of functions, invented Alonso Church et al, a basis of CS"
glossary["Series"] = "the pandas object for a single column of data, free-standing or in a DataFrame"
glossary["TCP"] = "Transmission Control Protocol"
glossary["IP"] = "Internet Protocol"
glossary["IP packet"] = "A routable chunk of data obeying the IP protocol (format), with payload"
glossary["CS"] = "Computer Science"
glossary["STEM"] = "Science, Technology, Engineering and Mathematics"
glossary["PATH"] = "Philosophy, Anthropology, Theater and History"
glossary["STEAM"] = "STEM with Anthropology added (Anthropology > Art)"

In [21]:
df = make_table()

In [22]:
pd.set_option('display.max_colwidth', -1)  # max width on columns please
df

                                                                                                       definition
term
API                    a set of functions that take variable arguments, providing programmed control of something
Bayesian               inferential methods useable even in the absense of any prospect for controlled studies
cell                   a Jupyter Notebook consists of mostly Code and Markdown cells
code cell              where runnable code, interpreted by the Kernel, is displayed and color coded
CS                     Computer Science
CSV                    comma-separated values, one of the simplest data sharing formats
DataFrame              the star of the pandas package, providing ndarrays with a framing infrastructure
delta calculus         differential and integral calculus, popularized by Newton and Leibniz
DOM                    the Document Object Model is a tree of graph of a document in a web browser
HTML                   hypertext markup language, almost an XML, defines the DOM in tandem with CSS
HTTP                   [hypertext transfer protocol]
IP                     Internet Protocol
IP packet              A routable chunk of data obeying the IP protocol (format), with payload
JavaScript             a computer language, not confined to running inside browsers but happy there
json                   JavaScript Object Notation is a way to save data (compare with XML)
Jupyter Notebook (JN)  like a web page, but interactive, stored as json
Kernel                 an interpreter, e.g. Python, ready to process JN code cells and return results
lambda calculus        a logic of functions, invented Alonso Church et al, a basis of CS
localhost              the IP address of the host computer: 127.0.0.1
markdown cell          uses a markup called markdown to format the text cells in a Jupyter Notebook
matplotlib             data visualization package for Python, originally written by John D. Hunter
ndarray                n-dimensional array, the star of the numpy package, a multi-axis data structure
numpy                  number crunchy goodness, vectorizes computations on n-dimensional arrays
pandas                 wraps numpy arrays in handsome frames with row and column indexes
PATH                   Philosophy, Anthropology, Theater and History
PGP                    Pretty Good Privacy, RSA before the US patent expired, by Phil Zimmerman
port                   internet services connect through IP:port addresses, JN usually on port 8888
Python                 a computer language from Holland (the Netherlands) that went viral
RSA                    public key crypto algorithm, named for collaborators Rivest, Shamir, Adleman
Ruby                   a programming language somewhat like Python and Perl, invented by Yukihiro Matsumoto
seaborn                adds new powers to matplotlib, makes pretty plots
Series                 the pandas object for a single column of data, free-standing or in a DataFrame
STEAM                  STEM with Anthropology added (Anthropology > Art)
STEM                   Science, Technology, Engineering and Mathematics
TCP                    Transmission Control Protocol
TCP/IP                 at the basis of the ARPAnet, funded by DARPA, and later the generic internet
TLS                    Transport Layer Security, used to turn HTTP into HTTPS
web browser            HTTP client, sends requests, gets responses
web server             accepts and processes (or rejects) HTTP requests, sends responses
XML                    a markup language using pointy brackets, reminiscent of HTML, for structured data

In [23]:
with open('glossary3.txt', 'w') as output:
    json.dump(glossary, output)