[Oregon Curriculum Network](http://4dsolutions.net/ocn/)

[School of Tomorrow (Home)](School_of_Tomorrow.ipynb)

# Geek Terminology

In this Notebook we're going to add GRUNCH, a geeky term, to our Glossary of Geek Terms, the same SQLite database used by [my pythonanywhere website](https://thekirbster.pythonanywhere.com) to provide a Terms-oriented API.

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/55033740392/in/dateposted/" title="Glossary Entry: GRUNCH"><img src="https://live.staticflickr.com/65535/55033740392_1738d3662e_z.jpg" width="640" height="581" alt="Glossary Entry: GRUNCH"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

In [18]:
import sqlite3 as sql
import pandas as pd

SQLite provides a simple API for connecting to databases in storage. The extension may be other than .db but that's what we've got.

In [2]:
conn = sql.connect("glossary.db")

Once you have a connection object, get a cursor object from that. Then use the cursor object to execute your favorite SQL commands. This query to `sqlite_master` is to get a listing of whatever tables are contained in this DB. In this case, just `Glossary`.

In [19]:
curs = conn.cursor()
result = curs.execute("SELECT name FROM sqlite_master WHERE type='table';")
result

In [20]:
for r in result.fetchall():
    print(r)

('Glossary',)

Now comes the fun part. With our connection object (here named `conn`) we have a way to bring all rows and columns from the Glossary table into a pandas dataframe, one of the most powerful Python objects known. We're able to inspect its contents easily, including by means of filters, to check on the presence of specific terms.

In [21]:
df = pd.read_sql_query("SELECT * from Glossary", conn) # df for DataFrame

In [22]:
df.head()

,gl_term,gl_definition,updated_at,updated_by
0,.NET,a virtual machine and the target runtime platf...,1768032638,KTU
1,Agile,a set of practices and work flows designed to ...,1469802788,KTU
2,AJAX,asynchronous JavaScript and XML. Loosely desc...,1469802788,KTU
3,Apache,"a free / open source web server, highly config...",1469802788,KTU
4,Apache Foundation,an umbrella organization under which many open...,1469802788,KTU

In [23]:
df.tail()

,gl_term,gl_definition,updated_at,updated_by
85,virtual machine,designed to run low level bytecodes similar to...,1469802789,KTU
86,wiki,a kind of website that allows extension by mul...,1469802789,KTU
87,web browser,a client side application used to render HTML ...,1469802789,KTU
88,XML,the more formal markup language standard of wh...,1469802789,KTU
89,FIFO,"First in, first out. Typical of a queue, e.g. ...",1472142543,KTU

In [24]:
df[df.gl_term == "Agile"]

,gl_term,gl_definition,updated_at,updated_by
1,Agile,a set of practices and work flows designed to ...,1469802788,KTU

In [25]:
df[df.gl_term == "GRUNCH"]

Empty DataFrame
Columns: [gl_term, gl_definition, updated_at, updated_by]
Index: []

So GRUNCH isn't here yet, we've just learned, meaning it's time to build a code cell for executing a SQL INSERT.

In [30]:
import time
def mod_date():
    return int(time.mktime(time.gmtime()))  # GMT time

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/55041265989/in/dateposted/" title="GRUNCH_EUC"><img src="https://live.staticflickr.com/65535/55041265989_7e0e7e7e8a_z.jpg" width="640" height="325" alt="GRUNCH_EUC"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/55041196388/in/photostream/" title="GRUNCH_EUC_2"><img src="https://live.staticflickr.com/65535/55041196388_6ba4d87c45_z.jpg" width="640" height="342" alt="GRUNCH_EUC_2"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
<br/>
<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/54794438603/" title="Grunch of Giants (dust jacket)"><img src="https://live.staticflickr.com/65535/54794438603_2541b1a07b_w.jpg" width="400" height="178" alt="Grunch of Giants (dust jacket)"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

In [33]:
d = {}  # empty dict
d["gl_term"] = "GRUNCH"
d["gl_definition"] = "Gross Universal Cash Heist; group word for Giants; from Grunch of Giants by R.B. Fuller, 1983"
d["initials"]="KTU"
d["right_now"]=mod_date()
query = ("INSERT INTO Glossary "
"(gl_term, gl_definition, updated_at, updated_by) " 
"VALUES ('{gl_term}', '{gl_definition}', '{right_now}', '{initials}');").format(**d)
query = query.format(**d)
print(query)

INSERT INTO Glossary (gl_term, gl_definition, updated_at, updated_by) VALUES ('GRUNCH', 'Gross Universal Cash Heist; group word for Giants; from Grunch of Giants by R.B. Fuller, 1983', '1768129902', 'KTU');

In [34]:
result = curs.execute(query)
result

In [35]:
conn.commit()

In [36]:
conn.close()

And now if we reload the database from scratch, we see our new term has been added.

In [37]:
conn = sql.connect("glossary.db")
df = pd.read_sql_query("SELECT * from Glossary", conn) # df for DataFrame

In [38]:
df[df.gl_term == "GRUNCH"]

,gl_term,gl_definition,updated_at,updated_by
90,GRUNCH,Gross Universal Cash Heist; group word for Gia...,1768129902,KTU

In [39]:
conn.close()

Mission accomplished. Now all we need to do is push this updated version of glossary.db to the cloud.

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/52877967169/" title="GRUNCH"><img src="https://live.staticflickr.com/65535/52877967169_ed3f092172_n.jpg" width="258" height="320" alt="GRUNCH"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<br />

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/54192358988/" title="From 1990s: Grunch.net Website"><img src="https://live.staticflickr.com/65535/54192358988_b731bafee5_z.jpg" width="640" height="590" alt="From 1990s: Grunch.net Website"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<br />

<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/55009610625/" title="Grunch of Giants in a Nutshell"><img src="https://live.staticflickr.com/65535/55009610625_bef8bd9a3e_c.jpg" width="554" height="800" alt="Grunch of Giants in a Nutshell"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>



<a data-flickr-embed="true" href="https://www.flickr.com/photos/kirbyurner/55039529351/in/dateposted/" title="Subgenius on Mastadon"><img src="https://live.staticflickr.com/65535/55039529351_969793338e_z.jpg" width="640" height="461" alt="Subgenius on Mastadon"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>